input{
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right: 20px;
    position: relative;
    transform:translateY(-25%);
    border: none;
    

}
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                         supported by Chrome and Opera */
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
            outline: none;
            
}
input[type=range]:active{
outline: none;
}
input[type=checkbox] {

}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background:rgb(77, 76, 76);
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    background: rgb(255, 187, 0);
    margin-top: -4px;
}
input[type=text]{
    width:60px;
    height:1rem;
    margin:0 auto;
    padding: 0px;
    color: white;
    border: 1px solid white;
    text-align: center;
}