@import "normalize.css";
@import "_variables.css";
@import "_mixins.css";
@import "_fonts.css";
@import "_animations.css";
@import "_inputs.css";
/* ============================================= G L O B A L S =========================================== */

body {
    min-width: 305px;
    background-color: black;
    position: relative;
}

button:focus {
    outline: none;
}

a {
    color: white;
    text-decoration: none;
    width: fit-content;
}

p {
    margin: 0px;
}

wbr:after {
    content: "\00200B";
}

.centererd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    top: 0;
    z-index: 100;
    .bar{
        position: relative;
        height: 50px;
        width: 50px;
        top: 50%;
        margin: 0 auto;
        background-image: url('assets/images/loading.png');
        background-size: cover;
        z-index: 5;
    }
    .visitCounter{
        position: relative;
        height: 50px;
        top: 50%;
        margin: 0 auto;
        text-align: center;
        z-index: 5;
        color:white;
        font-size: 25px;
    }
}

/* ============================================= S E K C J E =========================================== */

.campfire {
    position: fixed;
    width: 1200px;
    height: 1200px;
    z-index: -200;
    left: -200px;
    top: -200px;
}

#sub {
    font-size: 1.3rem;
    text-align: center;
    @mixin tablet {
        font-size: 2rem;
    }
    @mixin pc {
        font-size: 4rem;
    }
}

#sub_2 {
    font-size: 1rem;
    font-family: hemi;
    text-align: center;
    @mixin tablet {
        font-size: 1.2rem;
    }
    @mixin pc {
        font-size: 1.6rem;
    }
}

.landingPage {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
    .menu {
        position: fixed;
        border: none;
        background-image: url("assets/images/steel.jpg");
        border-bottom: 1px solid white;
        z-index: 100;
        font-size: 0.8rem;
        width: 100%;
        display:none;
        button {
            display: block;
            position: relative;
            margin: 0 auto;
            background-color: transparent;
            border: none;
            color: white;
            padding: 10px;
            &:hover {
                text-decoration: underline;
                background-color: $mainRed;
            }
            @mixin tablet {
                display: inline;
                padding-left: 20px;
                padding-right: 20px;
            }
            @mixin pc {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
    .ofertaBtn {
        position: absolute;
        bottom: 240px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 10px;

        font-size: 0.8rem;
        font-family: hemi;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        -webkit-transition: color 300ms linear;
        -ms-transition: color 300ms linear;
        transition: color 300ms linear;
        @mixin tablet {
            position: absolute;
            bottom: 240px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.1rem;

        }
        &:hover {
            color: $mainRed;
            border-color: $mainRed;
        }
    }
    .m4a1 {
        position: fixed;
        z-index: -100;
        min-width: 100vw;
        min-height: 100vh;
    }
    .logo {
        position: absolute;
        width: 100%;
        top: 25vh;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(219, 219, 219);
        font-family: hemi;
        img {
            width: 80%;
            @mixin pc {
                max-width: 800px;
            }
            padding-bottom: 35px;
        }
        #naucz {
            font-size: 2rem;
        }
    }
    .opis {
        color: white;
        font-size: 1.0rem;
        font-weight: 100;
        text-indent: 2rem;
        line-height: 1.3rem;
        position: absolute;
        text-align: justify;
        bottom: 45px;
        width: 250px;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        @mixin pc {
            left: auto;
            width: 400px;
            right: 100px;
            bottom: 45px;
            transform: none;
        }
        p {
            padding-bottom: 10px;
        }
    }
}

.section_title {
    font-family: hemi;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    @mixin pc {
        font-size: 3.3rem;
    }
}

.oferta {
    font-size: 1.0rem;
    display: flex;
    position: relative;
    min-height: 100vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,000000+100&0+1,1+14,1+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 14%, rgba(0, 0, 0, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 14%, rgba(0, 0, 0, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 14%, rgba(0, 0, 0, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
    flex-direction: column;
    justify-content: space-evenly;
    p {
        color: white;
    }
    img {
        width: 100%;
    }
    @mixin pc {
        padding-top: 200px;
    }
}

.sections_wrapper {
    display: flex;
    flex-direction: column;
}

.section {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 10px;
    &--photo {
        width: 140px;
        height: 100px;
        overflow: hidden;
        margin: 0 auto;
        @mixin phone {
            width: 200px;
            height: 130px;
        }
        &mixin pc {
            width: 280px;
            height: 160px;
        }
    }
    &--text {
        max-width: 90%;
        margin: 0 auto;
        @mixin pc {
            max-width: 320px;
        }
    }
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @mixin pc {
        flex-direction: row;
    }
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .section--photo {
        width: 140px;
        height: 80px;
        overflow: hidden;
        margin: 0 auto;
        @mixin phone {
            width: 200px;
            height: 130px;
        }
        @mixin pc {
            width: 280px;
            height: 160px;
        }
        img {
            width: 100%;
        }
    }
    .section--text {
        @mixin pc {
            width: 400px;
        }
    }
    .section {
        flex-direction: column;
    }
}

.paragraf {
    color: white;
    max-width: 1000px;
    text-align: center;
    line-height: 1.3rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:50%;
    transform:translateX(-50%);
    p {
        padding-bottom: 5px;
    }
}

.arsenal_wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    color: white;
    .top {
        .photo {
            width: 60%;
            img {
                width: 100%;
            }
        }
    }
    .ui {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        button {
            padding: 10px 20px;
            bottom: 30px;
            font-size: 2rem;
            font-family: hemi;
            background-color: transparent;
            color: white;
            border: 2px solid white;
            -webkit-transition: color 300ms linear;
            -ms-transition: color 300ms linear;
            transition: color 300ms linear;
            &:hover {
                color: $mainRed;
                border-color: $mainRed;
            }
        }
    }
    .indent_1 {
        transform: translateX(80px);
    }
    .indent_2 {
        transform: translateX(60px);
    }
    .indent_3 {
        transform: translateX(20px);
    }

    .indent_1_l {
        transform: translateX(-80px);
    }
    .indent_2_l {
        transform: translateX(-60px);
    }
    .indent_3_l {   
        transform: translateX(-20px);
    }
}

.weaponInfo {
    width: 500px;
    position: relative;
    margin: 0 auto;
    padding: 40px;
    color: white;
    text-align: justify;
}

.arsenal {
    padding-top: 120px;
    background-color: rgba(0, 0, 0, 0.6);
}

.gallery {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .main_image {
        height:130px;
        width:280px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        @mixin tablet{
            height:180px;
            width:350px;
        }
        @mixin tablet_large{
            height:230px;
            width:580px;
        }
        @mixin pc{
            height:450px;
            width:900px;
        }
        @mixin tv{
            height:610px;
            width:1200px;
        }
        img {
            width: 100%;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
        }
        .prev {
            position: absolute;
            opacity: 0;
            height: 100%;
            width: 40%;
            background-color: rgba(255, 255, 255, 0.144);
            top: 0px;
            transition: visibility 0s, opacity 0.5s linear;
        }
        .next {
            transition: visibility 0s, opacity 0.5s linear;
            position: absolute;
            height: 100%;
            width: 40%;
            background-color: rgba(255, 255, 255, 0.144);
            top: 0px;
            right: 0px;
            opacity: 0;
        }
        .prev,
        .next {
            img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 100px;
                opacity: 0.7;
                pointer-events: none;
            }
            &:hover {
                opacity: 1;
            }
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                         supported by Chrome and Opera */
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
        }
    }
    .hrLoading {
        color: red;
        height: 20px;
    }
    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
    .thumb {
        width: 80px;
        height: 50px;
        margin: 10px;
        border: 2px solid white;
        overflow: hidden;
        img {
            height: 100%;
            overflow: hidden;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
}

.cennik {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1.0rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .inputy {
        display: flex;
        flex-direction: column;
        @mixin tablet {
            width: 400px;
        }
    }
    .row {
        position: relative;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        @mixin pc {
            flex-direction: row;
            padding-bottom: 0px;
        }
    }
    .nazwa {
        margin:0 auto;
        label{
            display:block;
        }
    }
    #rabatAlert {
        display: none;
    }
}
.pricebox{
    background-color:rgba(37, 36, 36,0.85);
    position: absolute;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    left:50%;
    transform: translateX(-50%);
    padding:20px 30px 20px 30px;
    max-width: 120px;
    border: 2px solid orangered;
    border-style: dotted;
    input{
        margin-top:10px;
    }
}
#koszt{
    height:140px;
}
.sztuk{
    padding-bottom: 5px;
}
.dotted, .dotted_hr{
    border: 2px dotted rgb(255, 0, 0);

}
.dotted_hr{

    width: 100%;
}
.special-transform50 {
    @mixin pc {
        transform: translateX(-50px);
    }
}

.special-transform95 {
    @mixin pc {
        transform: translateX(-95px);
    }
}
.cennikpdf{
    margin-top: 20px;
    img{
        width:50px;
        display:block;
        margin:0 auto;
    }
}
.contact {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.2rem;
    p {
        margin: 0 auto;
        padding: 5px;
    }
}

.footer {
    position: relative;
    display: block;
    width: 100%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.596);
    text-align: center;
    font-size: 0.7rem;
    a {
        color: rgba(255, 255, 255, 0.9);
    }
}

.hidden {
    display: none;
}

.red {
    color: $mainRed;
}

.orange {
    color: rgb(255, 160, 82);
    font-weight: bold;
}

.noselect {
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}