@import "normalize.css";
@import "_variables.css";
@import "_mixins.css";
@import "_fonts.css";
@import "_animations.css";
/* ============================================= G L O B A L S =========================================== */
button:focus { outline: none; }
p {
    margin: 0px;
}

wbr:after {
    content: "\00200B";
}

.hidden {
    display: none;
}

.centererd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    .bar {
        background-image: url('assets/images/loading.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        z-index: 5;
    }
}

/* ============================================= S E K C J E =========================================== */
.campfire{
    position: fixed;
    width:1200px;
    height:1200px;
    z-index: -200;
    left:-200px;
    top:-200px;
}
.landingPage {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .menu {
        width:100%;
        display: flex;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        background-image:url("assets/images/steel.jpg");
        justify-content:flex-end;
        border:none;
        border-bottom: 1px solid white;
        z-index: 100;
        button {
            background-color: transparent;
            border: none;
            color: white;
            padding:20px;
            &:hover{
                text-decoration: underline;
                background-color:$mainRed;
            }

        }
    }
    .ofertaBtn {
        position: absolute;
        padding: 20px 40px;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        font-family: hemi;
        background-color: transparent;
        color:white;
        border: 2px solid white;
        -webkit-transition: color 300ms linear;
        -ms-transition: color 300ms linear;
        transition: color 300ms linear;
        &:hover{
            color:$mainRed;
            border-color:$mainRed;
        }

    }
    .m4a1 {
        position: fixed;
        z-index: -100;
        min-width: 100vw;
        min-height: 100vh;
    }

    .logo {
        position: absolute;
        top: 25vh;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(219, 219, 219);
        font-family: hemi;
        #main {
            font-size: 11rem;
            .red {
                color: $mainRed;
            }
        }
        #sub {
            font-size: 3rem;
        }
        #naucz {
            font-size: 2rem;
        }
    }
    .opis{
        font-family: hemi;
        color:white;
        width:500px;
        text-align: justify;
        text-indent: 2rem;
        line-height: 2rem;
        position: absolute;
        right:10%;
        bottom:120px;
        font-size: 1.5rem;
        p{
            padding-bottom:20px;
        }
    }
}
.section_title{
    font-family: hemi;
    color: white;
    text-align: center;
    font-size: 3rem;
    max-width: 50%;
    margin:0 auto;
}

.oferta {
    font-size: 1rem;
    position: relative;
    min-height: 100vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,000000+100&0+1,1+14,1+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 14%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 14%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 14%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 200px;
    p {
        font-family: hemi;
        color: white;

    }
    img {
        width: 100%;
    }
    .section {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
        padding:10px;
        max-width: 1000px;
        font-size: 1.5rem;
        &--photo {
            width: 300px;
            height: 200px;
            overflow: hidden;
        }
        &--text {
            background-color: transparent;
            max-width: 40%;
            &>p
            {
                    transform:translateY(50%);
                    height:fit-content;
            }
        }
    }
}
.arsenal_wrapper{
    position: relative;
    
    background-color:grey;
    width:50%;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);

}
.top{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.arsenal {
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.85);
}
.photo{
}
.ui{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.indent_1{
    transform:translateX(80px);
}
.indent_2{
    transform:translateX(50px);
}
.indent_3{
    transform:translateX(20px);
}
.weaponInfo{
    width:50%;
    position: relative;
    margin:0 auto;
    padding:100px;
}

.gallery {
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .images {
        width: 50%;
        position: relative;
        margin:0 auto;
        img {
            width: 100%;
        }
    }
}

.contact {
    height: 30vh;
    background-color: green;
}